/************************************************/
/* LeanBack Player | HTML5 Video Player UI		*/
/* Release: 0.0.2 - HD Button Extension	        */
/************************************************/
/**********************/
/* HD Button position */
.h5_lb_player div.hdbtn {
	position: absolute; margin: 0; padding: 5px; top: auto; bottom: 45px !important; left: 8px; border: 1px solid transparent; color: #fff; display: none; z-index: 1001;
	font: 11px/1.231 arial, helvetica, sans-serif !important; border: 1px solid #222;
	/* Fallback for web browsers doesn't support RGBa */
	background: #000;
	/* RGBa with 0.4 opacity */
	background: rgba(0, 0, 0, 0.4);
}
div.hdbtn span.hdbtn_txt {display: inline-block; font-weight: bold; float: left;}
div.hdbtn span.hdbtn_state {display: none; font-weight: normal; margin-left: 2px;}
div.hdbtn:hover span.hdbtn_state {display: inline-block;}
.h5_lb_player img.hdbtn {position: absolute; margin: 0; top: auto; bottom: 45px !important; left: 8px; border: 1px solid transparent; display: none; z-index: 1001;}
.h5_lb_player div.hdbtn_controls_below, .h5_lb_player img.hdbtn_controls_below {
	bottom: 15px !important;
}
/**********************/