<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>SPonGeBOB taUnT gEneRAtOR</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div ng-app="app" ng-controller="ctrl">
  <h1>CoNVerT ReGUlar TEXt tO mOcKIng sPoNgEBoB teXT</h1>
  <img src="http://192.168.0.14/images/hrlhtx90.jpg" width="250" height="auto" />
  <div>
    <textarea ng-model="word" placeholder="enter text here"></textarea>
  </div>
  <button ng-click="makeMeme()">Mockify</button>
  <div ng-bind="meme"/>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
